In [1]:
# importing all the necessary library
import pandas as pd
import numpy as np

In [2]:
# Reading the dataset into a dataframe alias df
df = pd.read_csv('NEISS2014.csv')

In [3]:
df.head()

,CPSC Case #,trmt_date,psu,weight,stratum,age,sex,race,race_other,diag,diag_other,body_part,disposition,location,fmv,prod1,prod2,narrative
0,141200216,10/23/14,63,99.704,M,21,Female,None listed,NaN,62,NaN,75,1,1,0,679,1807.0,21YOF LAYING ON THE COUCH AND ROLLED OFF TO TH...
1,140117851,1/4/14,63,81.576,M,62,Female,White,NaN,57,NaN,79,1,1,0,1807,115.0,62YOF TRIPPED OVER THE CORD FOR THE VACUUM CLE...
2,150144993,8/17/14,63,99.704,M,21,Female,None listed,NaN,57,NaN,83,1,0,0,1333,NaN,21YOF FELL OFF A SKATEBOARD AND FRACTURED FOOT
3,150230176,7/27/14,63,99.704,M,30,Female,None listed,NaN,64,NaN,79,1,1,0,4076,NaN,30YOF TRYING TO GET OUT OF BED AND FELT A POP ...
4,141220717,9/8/14,63,99.704,M,16,Male,None listed,NaN,57,NaN,82,1,0,0,1893,NaN,16YOM HAD HAND SLAMMED IN A DOOR FRACTURED HAND

In [18]:
# fetching all the rows which has product code as 1333, sine code 1333 points to skateboard
df_skateboard = df[(df['prod1']==1333) | (df['prod2'] == 1333)]
df_skateboard.shape

(495, 18)

In [14]:
#Displaying the result
df_skateboard.head()

,CPSC Case #,trmt_date,psu,weight,stratum,age,sex,race,race_other,diag,diag_other,body_part,disposition,location,fmv,prod1,prod2,narrative
2,150144993,8/17/14,63,99.7040,M,21,Female,None listed,NaN,57,NaN,83,1,0,0,1333,NaN,21YOF FELL OFF A SKATEBOARD AND FRACTURED FOOT
39,140505206,4/25/14,63,81.5760,M,14,Male,White,NaN,57,NaN,33,1,0,0,1333,NaN,14YOM FELL WHILE SKATEBOARDING AND FRACTURED L...
166,140851075,5/25/14,14,41.0402,M,14,Male,White,NaN,64,NaN,37,1,9,0,1842,1333.0,14YOM PT TRYING TO JUMP 5 STEPS ON A SKATEBOA...
292,140735930,7/13/14,90,5.7174,C,15,Female,White,NaN,62,NaN,75,1,0,0,1333,NaN,15 YOF FELL OFF A LONG BOARD & HIT HEAD- UNHEL...
320,140735911,7/13/14,90,5.7174,C,5,Male,Black/African American,NaN,53,NaN,76,1,5,0,1333,NaN,"5 YOM WAS SITTING ON A SKATEBOARD & FELL OVER,..."

In [24]:
# code to count the frequency of male and female from the filtered data
percent = df_skateboard['sex'].value_counts()

In [25]:
# display male and female frequency
percent

Male      406
Female     89
Name: sex, dtype: int64

In [38]:
#Calulation of the percentage of men and female
percent_male = (percent[0]/(percent[0] + percent[1]))*100

In [39]:
percent_male

82.020202020202021

In [40]:
percent_female = 100 - percent_male

In [41]:
percent_female

17.979797979797979

In [47]:
#Code to calulate the average age of the individual involved with skatebord injuries
avg_age = df_skateboard['age'].mean()

In [48]:
avg_age

17.89090909090909

In [46]:
avg_age.mean()

17.89090909090909